<nav class="navbar navbar-expand-lg navbar-dark bg-info rounded text-white">
    <a class="navbar-brand"  routerLink="/home" routerLinkActive="list-item-active">Cooperativa CDE</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExample09">
      <ul class="navbar-nav ml-auto text-white">
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="list-item-active">Acerca de nosotros</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdowuser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Usuario</a>
          <div class="dropdown-menu d-left" aria-labelledby="dropdownuser">
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#LoginModal">Iniciar Sesion</a>
            <a class="dropdown-item" href="#">Registrarse</a>
          </div>
        </li>
      </ul>
    </div>
</nav>



  <!-- Modal Login -->
<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="LoginModalLabel">Iniciar Sesion</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Correo
          <br>
          Contraseña
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Iniciar Sesion</button>
        </div>
      </div>
    </div>
  </div>